@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');

*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  user-select: none;
}

:root {
  --warna-utama: #2596be;
  --warna-text: #FFFFFF;
  --warna-secondary: #111111;
}

.white-theme {
  --warna-text: #111111;
  --warna-secondary: #FFFFFF;
  --warna-utama: #66bed8;
  background: #111111;
  transition: all .20s;
}

body {
  transition: all .20s;
  background: #FFF;
  color: var(--warna-secondary);
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

/* HEADER START */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  /* background:transparent; */
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--warna-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: var(--warna-secondary);
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
  font-size: 18px;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
}

.navbar a:hover,
.navbar a.active {
  color: var(--warna-utama);
}

.logo i {
  position: relative;
  font-size: 35px;
  color: var(--text-color);
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  z-index: 10001;
  transition: all .3s ease;
}

.logo i:hover {
  scale: 1.1;
  text-shadow: 0 0 5px var(--warna-utama),
    0 0 25px var(--warna-utama), 0 0 50px,
    0 0 100px var(--warna-utama), 0 0 200px var(--warna-utama);
}

.darkMode {
  position: relative;
  font-size: 35px;
  color: var(--text-color);
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  z-index: 10001;
  transition: all .3s ease;
}

.darkMode:hover {
  scale: 1.1;
  text-shadow: 0 0 5px var(--warna-utama),
    0 0 25px var(--warna-utama), 0 0 50px,
    0 0 100px var(--warna-utama), 0 0 200px var(--warna-utama);
}

#menu-icon {
  font-size: 35px;
  color: white;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

/* HEADER END */

/* .container {
  background: yellow;
  height: 1000vh;
} */

/* ALL CONTAINER CSS */
.containerAbout, .containerSkill, .containerProject, .containerOther, .containerContact {
  /* background: blue; */
  height: auto;
  padding-top: 15vh;
}

/* TITLE Contoh: about, skills, contact, dll */
.containerAbout .title, .containerSkill .title, .container .btn, .containerProject .title, .containerOther .title, .containerContact .title {
  display: flex;
  justify-content: center;
  /* background: red; */
  top: 100px;
}

/* END TITLE HEADING */

/* PADDING CONTENT (kecuali 'contentProject) */
.contentAbout, .contentSkill, .contentOther, .contentContact, .contentFooter {
  padding: 5% 10%;
}

.contentAbout {
  display: flex;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  /* background: pink; */
  /* height: 70vh; */
}

.contentAbout1 img {
  width: 20rem;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 0 var(--warna-utama);
  border: 2px solid var(--warna-utama);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.contentAbout2 {
  /* background: blue; */
  width: 50%;
}

.contentAbout2 p {
  margin-top: 10px;
}

/* STYLING BUTTON */
.contentAbout2 button, .containerSkill .btn a button, #btn {
  border: 2px solid var(--warna-utama);
  color: var(--warna-secondary);
  box-shadow:
    0 0 10px 0 var(--warna-utama),
    0 0 50px 0 var(--warna-utama), 0 0 100px 0 var(--warna-utama);
  margin-top: 35px;
  font-weight: 600;
  background: transparent;
  padding: .5em 2em;
  transition: .2s all ease-in-out;
  z-index: -100;
}

.contentAbout2 button:hover, .containerSkill .btn a button:hover, #btn {
  color: var(--warna-text);
  background: var(--warna-utama);
  scale: 1.1;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s all ease-in-out;
  -webkit-transition: .2s all ease-in-out;
  -moz-transition: .2s all ease-in-out;
  -ms-transition: .2s all ease-in-out;
  -o-transition: .2s all ease-in-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* STYLING BUTTON END */

.contentSkill {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  /* background: green; */
  /* height: 100dvh; */
}

.contentSkill-left::-webkit-scrollbar, .contentSkill-mid::-webkit-scrollbar, .contentSkill-right::-webkit-scrollbar {
  display: none;
}

.contentSkill-left, .contentSkill-mid, .contentSkill-right {
  width: 250px;
  height: 250px;
  /* background: purple; */
  border: 2px solid var(--warna-utama);
  box-shadow: 0 0 10px 0 var(--warna-utama) inset;
  border-radius: 20px;
  padding: 2em .5rem;
  overflow: scroll;
  text-align: center;
}

.contentSkill-left i, .contentSkill-mid i, .contentSkill-right i {
  font-size: 35px;
}

.contentSkill-left p, .contentSkill-mid p, .contentSkill-right p {
  margin-top: 1em;
}


/* PROJECT */
.contentProject {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  justify-items: center;
  gap: 15px;
  /* background: greenyellow; */
  height: auto;
  padding: 5% 5%;
}

.contentProject .contentP {
  aspect-ratio: 16/9;
  background: var(--warna-utama);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.contentProject .contentP img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .2s all ease-in-out;
  -webkit-transition: .2s all ease-in-out;
  -moz-transition: .2s all ease-in-out;
  -ms-transition: .2s all ease-in-out;
  -o-transition: .2s all ease-in-out;
}

.contentProject .contentP .contentImg {
  width: 100%;
  height: 200px;
  bottom: 0;
  left: 0;
  padding: 3em 4px 1em 4px;
  position: absolute;
  color: var(--warna-text);
  background: linear-gradient(rgba(0, 0, 0, 0.01), var(--warna-secondary));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: .2s all ease-in-out;
  -webkit-transition: .2s all ease-in-out;
  -moz-transition: .2s all ease-in-out;
  -ms-transition: .2s all ease-in-out;
  -o-transition: .2s all ease-in-out;
}

.contentProject .contentP .contentImg:hover {
  height: 100%;
  opacity: 1;
  transition: .2s all ease-in-out;
  -webkit-transition: .2s all ease-in-out;
  -moz-transition: .2s all ease-in-out;
  -ms-transition: .2s all ease-in-out;
  -o-transition: .2s all ease-in-out;
}

.contentP:hover img {
  scale: 1.1;
  transition: .2s all ease-in-out;
  -webkit-transition: .2s all ease-in-out;
  -moz-transition: .2s all ease-in-out;
  -ms-transition: .2s all ease-in-out;
  -o-transition: .2s all ease-in-out;
}

.contentProject .contentP .contentImg h3 {
  font-size: 20px;
  font-weight: 800;
  text-shadow: 1px 1px 2px var(--warna-secondary);
}

.contentProject .contentP .contentImg p {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  line-height: 15px;
  text-shadow: 1px 1px 2px var(--warna-secondary);
}

.contentProject .contentP .contentImg .link a i, .contentProject .contentP .contentImg a i {
  font-size: 30px;
  margin-top: .5em;
  padding: 0 .5em;
  color: var(--warna-text);
}

/* OTHER */
.containerOther {
  background: red;
  /* height: 100dvh; */
}

.contentOther {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.contentOther1, .contentOther2 {
  width: 100%;
  height: 50dvh;
  background: green;
}

/* CONTACT */
.contentContact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentContact .input {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  /* background: var(--warna-utama); */
  justify-content: center;
}

.input form {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 15px;
}


.contentContact .input input, textarea {
  border: 2px solid var(--warna-utama);
  width: 100%;
  padding: .5em 2em;
  margin-bottom: 1em;
  resize: none;
  color: var(--warna-secondary);
  background: var(--warna-text);
  font-weight: 600;
}


#btn {
  width: 9rem;
  padding: .5em 1em;
}

footer {
  height: 20vh;
  background: var(--warna-text);
  color: var(--warna-secondary);
  border-top: 2px solid var(--warna-utama);
  box-shadow: 2px 0 100px 0 var(--warna-utama);
}

.contentFooter {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contentFooter p {
  font-size: 10px;
}

.portoLink {
  margin-left: 7.5rem;
  font-size: 30px;
}

.portoLink i:hover {
  scale: 1.2;
  text-shadow: 0 0 50px var(--warna-utama);
  color: var(--warna-utama);
}

span {
  color: var(--warna-utama);
}

/* RESPONSIVE WEB  */

@media (max-width: 800px) {
  #menu-icon {
    display: block;
    color: var(--warna-secondary);
  }

  .header {
    backdrop-filter: none;
    border-bottom: none;
  }

  .navbar {
    position: absolute;
    top: -800%;
    right: 0%;
    width: 100%;
    height: 30vh;
    overflow: auto;
    background-color: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 .5rem 1rem var(--warna-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .50s ease;
  }

  .navbar a {
    font-weight: 800;
    display: block;
    margin: 6px 0;
    padding: 0px 25px;
  }

  .navbar.active {
    top: 100%;
  }

  .containerAbout, .containerSkill, .containerProject, .containerOther, .containerContact {
    padding-top: 14vh;
  }

  .contentAbout1 {
    text-align: center;
  }

  .contentAbout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 0 0;
  }

  .contentAbout .contentAbout1, .contentAbout .contentAbout2 {
    width: 100%;
    padding: 2em;
  }

  .contentAbout1 img {
    width: 200px;
  }

  .contentSkill {
    margin: 2em 0 2em 0;
    flex-direction: column;
    height: auto;
    gap: 20px;
    padding: 0 0;
  }

  .contentSkill-left, .contentSkill-mid, .contentSkill-right {
    width: 80%;
  }

  .contentProject {
    margin: 2em 0 2em 0;
    gap: 20px;
    padding: 0;
  }

  .contentProject .contentP {
    width: 80%;
    height: 250px;
  }

  .contentProject .contentP img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .contentOther {
    width: 100%;
    flex-direction: column;
  }

  .contentContact .input {
    padding: 0px;
  }

  .containerContact .contentContact .input form {
    flex-direction: column;
    gap: 0;
  }


  .contentFooter {
    flex-direction: column;
  }

  .portoFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .portoLink {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    gap: 1rem;
    bottom: 0;
    z-index: 100;
  }
}